<footer class="footer">
  <div class="footer-inner">
    <div class="footer-top">
      <div class="footer-nav">
        <details class="footer-dropdown">
          <summary>Menu</summary>
          <div class="footer-dropdown-content">
            <a href="/">Beranda</a>
            <a href="/profile">Profile</a>
          </div>
        </details>
      </div>

      <div class="footer-partners">
        <img src="/img/LINGKARAN-WARNA.png" alt="Mitra 1" class="partner-logo">
        <img src="/img/TUTURI.png" alt="Mitra 2" class="partner-logo">
        <img src="/img/LOGO-KEBOMAS.png" alt="Mitra 3" class="partner-logo">
        <img src="/img/DINAS.png" alt="Mitra 4" class="partner-logo">
        <img src="/img/UA-BIRU.png" alt="Mitra 5" class="partner-logo">
        <img src="/img/LPMB.png" alt="Mitra 6" class="partner-logo">
      </div>
    </div>

    <p class="footer-copy">Copyright &copy; 2026 KKN BBK 8 Unair, Kebomas, Kebomas, Gresik</p>
  </div>
</footer>