DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=
DB_PORT=3306
SESSION_SECRET=
PORT=3000

# Cloudinary (ambil dari dashboard cloudinary.com -> Account Details)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
